<% include("include/head.ejs") %>
<body>
    <h1>This is the home page</h1>

    <h3><%= ["hello", "bonjour", "namaste"][2] %></h3>
      
    <p>lorem jici</p>
    <button>Click me!</button>

    <% include("include/Footer.ejs") %>
     
</body>
</html>
